//
// Font
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', serif;
  }
  h2 {
    line-height: 35px;
  }
}