//
// Layout
// Styles for Forms
// --------------------------------------------------

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

.form-type-radio .description, 
.form-type-checkbox .description {
  margin-left: 0;
}

form {
  .field-multiple-table {
    thead {
      th {
        padding: 10px !important;
        label {
          margin: 0;
          font-weight: bold;
        }
      }
    }
  } 
  .description {
    margin: 2px 0;
    color: $gray;
  }
}

select[multiple], 
select[size] {
  height: 30px;
}

.media-widget {
  > a {
    margin: 0 10px 0 0;
    @include btn();
  }
}

html.js input.form-autocomplete {
  background: url("../images/throbber.gif") no-repeat right 8px #fff !important;
}
html.js input.throbbing {
  background-position: right -122px !important;
}

// Node Form
// --------------------------------------------------
.page-node-add {
  #main {
    #content {
      .node-form {
        margin: -36px -20px 0;
      }
      > .contextual-links-region {
        margin: -36px -20px 0;
        .node-form {
          margin: -1px 0 0;
        }
      }
    }
  }
}
.node-form {
  .panel-display {
    background-color: #F5F5F5;
    > .container {
      > .row-fluid {
        > .content {
          background-color: #fff;
          border-right: 1px solid #e5e5e5;
          padding: 20px 20px 0;
        }
        > .sidebar {
          margin: 0;
          .panel-pane {
            background-color: #FAFAFA;
            border-bottom: 1px solid #e5e5e5;
            margin-right: -31px;
            padding: 20px;
            .pane-title {
              font-size: 1.4em;
              margin-top: 0;
            }
          }
          .pane-node-form-buttons {
            padding: 0;
            border-bottom: none;
            .form-actions {
              border: none;
              margin: 0;
              .btn {
                width: 48.5%;
                font-size: 1.2em;
                padding: 10px;
                &:last-child {
                  margin-right: 0;
                }
              }
              .btn-primary {
                font-size: 1.8em;
                display: block;
                margin-bottom: 10px;
                width: 100%;
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
  }
  .container-inline-date {
    .date-padding {
      padding: 0;
    }
  }
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .pane-node-form-title {
    label {
      display: none;
    }
    #edit-title {
      width: 98% !important;
    }
  }
  div.vertical-tabs {
    background-color: #F5F5F5;
    border: none;
    border-top: 1px solid #e5e5e5;
    @include border-radius(0);
    margin: 40px -20px 0;
    padding-left: 15em;
    .vertical-tabs-panes {
      border-left: 1px solid #e5e5e5;
      background-color: #fff;
      min-height: 300px;
    }
    ul.vertical-tabs-list {
      margin-top: 0;
      margin-bottom: 0;
      li {
        border-color: #F5F5F5;
        border-width: 1px 0;
        border-right: 1px solid #e5e5e5;
        margin-right: -1px;
        @include border-radius(0);
        a {
          @include border-radius(0);
          padding: 10px 20px;
        }
        &.first {
          border-top: none;
        }
        &.selected {
          border-color: #e5e5e5;
          border-right: 1px solid #fff;
        }
      }
    }
  }
}

// Menu Node Form
// --------------------------------------------------
.node-menu-form {
  .field-name-field-menu-categories {
    label {
      display: none;
    }
    .form-checkboxes {
      label {
        display: inline-block;
      }
    }
  }
  .field-name-field-menu-types {
    .field-name-field-menu-type,
    .field-name-field-menu-price {
      float: left;
      margin-right: 10px;
    }
    .form-submit {
      margin-top: 25px;
    }
  }
}

// Event Node Form
// --------------------------------------------------
.node-event-form {
  .field-name-field-event-date {
    legend {
      display: none;
    }
    .form-type-date-select {
      > label {
        .form-required {
          display: none;
        }
      }
    }
    [class*="-hour"] {
      clear: left;
      margin-left: 0;
    }
  }
}

// Blog Post Node Form
// --------------------------------------------------
.node-blog_post-form {
  .field-name-field-blog-post-categories {
    label {
      display: none;
    }
    .form-checkboxes {
      label {
        display: inline-block;
      }
    }
  }
  .field-name-field-blog-post-tags {
    label {
      display: none;
    }
  }
}