//
// Layout
// Styles for main layout
// --------------------------------------------------
body {
  #main-wrapper {
    margin-bottom: 20px;
    #main {
      background: #fff;
      @include box-shadow(0 0 2px rgba(#000, 0.12));
      padding: 0 20px;
    }
  }
}