// 
// Styles for Navbar module
// --------------------------------------------------
#navbar {
  .navbar-bar {
    // Navbar Bar 
    position: absolute;
  }
  .navbar-tray {
    // Navbar Tray
  }
}

.menu-tray-open {
  padding-left: 0 !important;
}

.menu-tray-open .container {
  width: 100%;
}