//
// Styles for Views
// --------------------------------------------------

// Exposed form
// --------------------------------------------------
.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button {
  margin-top: 0;
  margin-right: 8px;
}

// Views bulk operation
// --------------------------------------------------
.vbo-views-form {
  .fieldset-wrapper {
    input {
      margin-right: 10px;
    }
  }
}

// Administration views.
// --------------------------------------------------
#content {
  > .view {
    .row {
      > div {
        @extend .col-md-12;
      }
    }
  }
}
